@media only screen and (max-width: 600px) {

/*Tipografias*/

h1.title {
  font-size: 4.51vw;
}

h2.subtitle { 
  font-size: 2.08vw;
  width: 10.69vw;
  height: 3.47vw;
  margin: 0;
}

h2.textos { 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 	6.40vw;
}

p.textos-blancos, a.textos-blancos { 
  font-size: 4.80vw;
  text-align: center;
  margin: 0vw;
}

p.textos-blancos a {
  font-size:4vw
}

h2.boton { 
  font-size: 4.44vw;
}

h2.subtitle-blanco { 
  font-size: 4.44vw;
}

h2.TextosProyectos { 
  font-size:9.00vw;
}

/*tamaños*/

.photoANI{ 
  width: 7.57vw;
  height: auto;
}

.circulo {
  width: 11.74vw;
  height: 11.11vw;
}

.fondotp{
  width: 25.63vw;
  height: 2.15vw;
  padding: 1.04vw;
  border-radius: 0.69vw;
}

.photo{ 
  height:auto;
  width: 12.29vw;
  border-radius: 1.74vw;
}

.iconos{ 
  max-width: 1.67vw;
}

.barrasT{ 
  max-width: 19.10vw;
}

.barrasI{ 
  width: 22.29vw;
  height: 0.83vw;
}

.estrella {
  font-size: 1.60vw;
  margin-left: 1.04vw;
}

.mano {
  font-size: 2.57vw;
}

.icono-contacto {
  font-size: 1.74vw;
}

.icono-insta {
  width: 1.74vw;
  height: 1.74vw;
  margin-bottom: 2.08vw;
  margin-top: 2.08vw;
}

/*alineaciones*/

.contenedor-titulo {
  gap: 0.90vw;
  margin-top: 2.64vw;
  margin-bottom: 3.13vw;
  
}

.AniP {
  width: 11.74vw;
  height: 11.11vw;
}

.alS{
justify-content:center ;
}

.P1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.p1{
  gap: 2.57vw;
  margin-top: 2.29vw;
  margin-bottom: 2.57vw;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.p10{
  align-items:center;

}

.p11{
  gap: 0.14vw;
  width: 25.47vw;
  height: auto; 
}

.al-H2 {
  display: flex;
  align-items:center;
  gap: 0.97vw;
}

.b1 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap:0vw;
}

.b11 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.barras {
  gap: 0.69vw;
}

.barrasIz {
  flex-direction: column;
  gap: 0.69vw;
}


.b2 {
  gap: 1.46vw;
}


.b3 {
  flex-direction: column-reverse ;
}


.al-H {
  width: 22.29vw;
  height: 2.43vw;
  align-items: center;

}

.al-P {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.56vw;
}

.al-P2 {
  margin-bottom: 3.47vw;
}

.img1 { 
  display: flex;
  flex-direction: column;
}

.An1{ 
  gap:6.93vw;
}

.img3 { 
  flex-direction: column;
}

/*Botones*/

.button {
  width: 11.98vw;
  height: 3.39vw;
  border-radius: 0.78vw;
  background-color: var(--adornos);
  position: relative;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.al-C2 {
  flex-direction:row-reverse;
  gap: 9.33vw;
}

.al-C3 {
  margin-bottom:7.73vw;
}

/*Botones*/

.flechas-B {
  margin-bottom:	12.27vw;
}

.mi-icono {
  font-size: 5vw;
}

}