/*tamaños de imagen*/
.photo{ 
        max-width:300px;
}
.photoANI{ 
    max-width:230px;
}
.iconos{ 
         max-width:70px;
}

.icono-insta {
    width: 17px;  
    height: 17px; 
}

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

h1.title {
    font-family: "Karantina", system-ui;
    font-weight: 500;
    font-style: normal;
    color: var(--textos);
}

h2.subtitle { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos-naranja);
}

h2.textos { 
    font-family: "Afacad", sans-serif;
    color: var(--textos-naranja);
}

p.textos-blancos { 
    font-family: "Afacad", sans-serif;
    color: var(--textos);
}

h2.subtitle-blanco { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos);
}

h2.subtitle-naranja { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos-naranja);
}

p.textos-blancos-pequeños { 
    font-family: "Afacad", sans-serif;
    color: var(--textos);
}

/*alineacion*/

.alineacion-H {
    display: flex;
    gap: 10px;  
    }

    /*colores*/

:root{ 
    --adornos: #FF8906;
    --iconos: #E53170;
    --icono: #F25F4C;
    --fondo: #1E1E1E;
    --textos:#FFFFFE;
    --textos-naranja:#360235;
    
    }
    /*iconos*/ 
    .mi-icono {
        color: var(--iconos); 
    }
    
    .icono-contacto {
        color: var(--icono); 
    }
    
    .estrella {
        color: var(--fondo); 
    }
    
    .mano {
        color: var(--textos-naranja); 
    }
    