/*tamaños*/
.photo{ 
        max-width:454px;
}

.photoANI{ 
    width: 293px;
    height: 399px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
}

.iconos{ 
    max-width:65px;
}

.icono-insta {
    width: 95px;  
    height: 95px; 
}

.circulo {
    width: 438px; 
    height: 438px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: var(--adornos);
    border-radius: 50%; 
}

.barrast{
    width: 502px; 
    height: 25.06px; 
}

/*Tipografias*/

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

h1.title {
    font-family: "Karantina", system-ui;
    font-weight: 500;
    font-style: normal;
    color: var(--textos);
    font-size: 200px;
}

h2.subtitle { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos-naranja);
    font-size: 120px;
}

h2.textos { 
    font-family: "Afacad", sans-serif;
    color: var(--textos-naranja);
    font-size: 40px;
}

p.textos-blancos { 
    font-family: "Afacad", sans-serif;
    color: var(--textos);
    font-size: 40px;
}

h2.subtitle-blanco { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos);
    font-size: 96px;
}

h2.subtitle-naranja { 
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--textos-naranja);
    font-size: 96px;
}

p.textos-blancos-pequeños { 
    font-family: "Afacad", sans-serif;
    color: var(--textos);
    font-size: 18px;
}

/*alineaciones*/

.p1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.p11{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 35px;
}

.AniP {
    position: relative;
    width: 438px; 
    height: 438px;
}

.al-H {
    display: flex;
    align-items: center;
    gap: 10px;
}

.al-P {
    display: flex;
    align-items:center;
    gap: 24px;
}

.al-P2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.al-C {
    display: flex;
    align-items:center;
    gap: 15px;
}

.al-C2 {
    display: flex;
    align-items:stretch;
    justify-content:flex-start;
    flex-direction: column;
    gap: 75px;
}

.al-C22 {
    display: flex;
    align-items:stretch;
    justify-content:flex-start;
    flex-direction: column;
    gap: 97px;
}

.al-C3 {
    display: flex;
    align-items:baseline;
    justify-content:space-around;
}

.contenedor-imagen-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:38px;
}

.barras {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.b3 {
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    gap:20px
}


.b2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.b1 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap:20px;
}

.al-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 40px;
    padding: 20px;
}

/*colores*/
:root{ 
    --adornos: #FF8906;
    --iconos: #E53170;
    --icono: #F25F4C;
    --fondo: #0F0E17;
    --textos:#FFFFFE;
    --textos-naranja:#360235;
    --barra-base:#A7A9BE;
    
    }
    /*iconos*/ 
    .mi-icono {
        color: var(--iconos);
        font-size: 33px;
    }
    
    .icono-contacto {
        color: var(--icono); 
        font-size: 95px;
    }
    
    .estrella {
        color: var(--fondo);
        font-size: 34px; 
    }
    
    .mano {
        color: var(--textos-naranja);
        font-size: 79px; 
    }
    
/*Botones*/

.button {
    background-color: #FF8906 ;
    width: 1194px; 
    height:117px;
    display: flex;
    align-items: center;
    justify-content: center;
}