@media only screen and (max-width: 600px) {

/*Tipografias*/

h2.subtitle { 
  border-radius: 1vw;
}

h2.textos { 
  font-size:  6.15vw;
  background-color: var(--adornos);
  text-align: center;
  padding: 0.68vw; 
  border-radius: 2vw;
}

p.textos-blancos, a.textos-blancos { 
  font-size: 4.62vw;
  line-height:0.9;
  text-align: center;
}

p.Textos-Blancos, a.Textos-Blancos { 
  font-size:6vw;
}

h2.subtitle-blanco { 
  font-size:16.41vw;
  text-align: center;
}

h2.boton { 
  font-size: 16.41vw;
  text-align: center;
  margin: 0;
  flex-wrap:wrap;
}

h2.TextosProyectos { 
  font-size:10.26vw;
}

p.textos-blancos-pequeños { 
  font-size:4.62vw;
}

h2.subtitle2 { 
  font-size: 16.41vw;
}


/*tamaños*/

.maceta{ 
  max-width:76.25vw;
  border-radius: 1.04vw;
}

.Router{ 
  margin-bottom: 3vw;
}

.photo{ 
  width:49.74vw;
  height: auto;
}

.fondotp {
  border-radius: 2vw;
}

.mi-icono {
  font-size: 6.15vw;
}

.iconos{ 
  max-width: 8.97vw;
}

.barrasT{ 
  width: 70.51vw;
  height:   3.08vw;
}

.barrasI{ 
  width:82.05vw;
  height:  3.08vw;
}

.estrella {
  color: var(--fondo);
  font-size: 5.90vw;
  margin-left: 1.04vw;
}

.mano {
  font-size: 9.49vw;
}

.icono-contacto {
  font-size: 5.90vw;
  margin-bottom:2vw;
}

.flechasT{ 
  font-size: 10.82vw;
}

/*alineaciones*/

.img3 { 
  flex-direction:column;
  gap: 5.56vw;
  margin-top: 4.23vw;
}

.An1{ 
  display: flex;
  flex-direction: column;
  gap:1vw;
  align-items:center;
}

.An2{ 
  gap:0vw;
  flex-direction: column;
}

.contenedor-titulo {
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.alS{
  justify-content: center;
}

.p1{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p10{
  align-items: center;
  gap: 1.81vw;
}

.p11{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap:0vw;
  width: 87.18vw;
  height: auto; 
}

.P43{
  align-items: center;
  gap: 3vw;
  flex-direction: column;
  margin-bottom:15vw;
}

.barrasIz {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0vw;
  flex-direction: column;
}

.b3 {
  display: flex;
  flex-direction: column ;
  align-items: flex-end;
  gap: 3vw;
}

.al-H {
  display: flex;
  align-items: baseline;
  background-color: var(--iconos);
  gap: 3vw;
  width: 82.31vw;
  height: 8.97vw;
  border-radius: 3vw;
}

.b11 {
  gap:6.92vw;
}

.al-C2 {
  display: flex;
  align-items:center;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap:5vw;
  margin-bottom: 20vw;
}

.al-C {
  display: flex;
  align-items:center;
  gap:2vw;
}

.P5 {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-top: 4.23vw;
}

.img1 { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  margin-top: 3.18vw;
}

}.img4 { 
  flex-direction: column;
  gap: 5vw;
}

/*Botones*/

.button {
  width: 58.97vw ;
  height: 16.67vw;
  border-radius:5vw;
}

.flechas-B {
  width: 14.42vw;
  height: 14.42vw;
  border-radius: 3vw;
  margin-bottom: 5vw;
}

.buttonI {
  width: 41.54vw;
  height: 14.87vw;
  border-radius: 2vw;
}
